#=================================================
# Description: Build OpenWrt using GitHub Actions
# Lisence: MIT
#=================================================

name: Build OpenWrt

on:
  repository_dispatch:
  release:
    types: published
  push:
    branches:
      - master
    paths:
      - '.config'
  #schedule:
  #  - cron: 0 8 * * 5
  watch:
    types: started

env:
  REPO_URL: https://github.com/openwrt/openwrt
  REPO_BRANCH: master
  SSH_ACTIONS: true
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@master
              
    - name: Initialization environment
      run: |
        sudo apt update
        sudo apt install build-essential clang flex bison g++ gawk \
          gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev \
          python3-setuptools rsync swig unzip zlib1g-dev file wget
    #    sudo apt autoremove --purge
    #    sudo apt clean        
    #    sudo timedatectl set-timezone "$TZ"
        
    - name: Clone source code
      run: git clone --branch openwrt-24.10 https://github.com/openwrt/openwrt.git openwrt
      
    - name: Update feeds
      run: cd openwrt && ./scripts/feeds update -a

    - name: Install feeds
      run: cd openwrt && ./scripts/feeds install -a
  
    #- name: SSH connection to Actions
    #  uses: P3TERX/ssh2actions@main
    #  if: env.SSH_ACTIONS == 'true' || contains(github.event.action, 'ssh')
     
    #- name: Setup tmate session
    #  if: env.SSH_ACTIONS == 'true'
    #  uses: mxschmitt/action-tmate@v3
        
    #- name: Upload .config
    #  uses: actions/upload-artifact@master
    #  with:
    #    name: OpenWrt_config
    #    path: openwrt/.config
    #    include-hidden-files: true

    - name: Load custom configuration
      run: |
        [ -e .config ] && mv .config openwrt/.config && echo ".config ok"

    - name: The demo step has failed
      if: ${{ failure() }}
      run: echo "no .config"

    - name: Compile the firmware
      #id: compile
      run: |
        cd openwrt
        make
      
    - name: Upload bin directory
      uses: actions/upload-artifact@master
      with:
        name: OpenWrt_bin
        path: openwrt/bin
